.newPost {
	margin-bottom: 42px;
}
.newPost__title {
	color: #47525e;
	font-family: Lato;
	font-size: 35px;
	line-height: 45px;
	margin-bottom: 30px;
}


.post {
	display: flex;
	gap: 36px;
	margin-bottom: 92px;
}
.post__ava {
	width: 58px;
	height: 58px;
}
.post__avaImg {
	width: 58px;
	height: 58px;
	border-radius: 50%;
}
.post__text {
	color: #47525e;
	font-family: Lato;
	font-size: 26px;
	line-height: 33px;
}
