.login__title {
	color: #47525e;
	font-family: Lato;
	font-size: 26px;
	line-height: 33px;
	font-weight: 300;
	margin-bottom: 50px;
}
.loginForm {
	display: flex;
	justify-content: center;
	width: 100%;
}
