.dialogs__title {
	color: #47525e;
	font-family: Lato;
	font-size: 26px;
	line-height: 33px;
	font-weight: 300;
}
.dialogs__inner {
	display: flex;
	position: relative;
}
.dialogs____names {
	max-width: 342px;
	width: 100%;
	padding: 35px 15px 35px 50px;
	border-right: 1px solid #7e55f3;
	min-height: calc(100vh - 53px - 34px);
}
.dialogs____names div a {
	color: #8190a5;
	font-family: Lato;
	font-size: 18px;
	line-height: 36px;
	margin-bottom: 31px;
	padding-left: 27px;
	position: relative;
	transition: all 0.3s;
	cursor: pointer;
	display: block;
}

.dialogs__messages {
	display: flex;
	flex-direction: column;
	padding: 35px 35px 80px 35px;
	width: 100%;
}


.active__name {
	color: #343f4b;
	font-family: Lato;
	font-size: 24px;
	line-height: 36px;
	padding-left: 40px;
	transition: all 0.3s;
	position: relative;
	cursor: pointer;
	display: block;
	margin-bottom: 31px;
}
.active__name::before,
.dialogs____name::before {
	content: '';
	background-color: #8190a5;
	border-radius: 50%;
	width: 9px;
	height: 9px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
