.form {
	padding: 40px;
	background-color: #e6eeea;
	border-radius: 25px;
}
.inputWrapper {
	margin-bottom: 15px;
}
.input {
	width: 280px;
	height: 35px;
	border: none;
	outline: none;
	padding: 5px 8px;
	font-size: 26px;
	line-height: 33px;
}
.checkboxWrapper {
	margin-bottom: 15px;
	display: flex;
	align-items: center;
}

.checkbox {
	width: 25px;
	height: 25px;
	margin-right: 15px;
	cursor: pointer;
}
.label {
	font-size: 18px;
	line-height: 27px;
	cursor: pointer;
}
.btn {
	width: 100%;
	height: 30px;
	background-color: #13ce66;
	border-radius: 15px;
	font-size: 20px;
	line-height: 26px;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
}
